<nav class="navbar navbar-default">
    <p class="navbar-text">User: <strong>{{ user.name }}</strong></p>      
</nav>
<table class="table">
    <thead>
        <tr>
            <th>Name:</th>
            <th>Email:</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.age }}</td>
        </tr>
    </tbody>

</table>
<div class="pull-left">
    <button class="btn btn-sm btn-primary" ng-click="editUser(user.name, user._id)">Edit User</button>
    <button class="btn btn-sm btn-primary" ng-click="deleteUser(user._id)">Delete User</button>
</div>